/*-----------------------------------------------------------------------
01. START APP FONTS
-----------------------------------------------------------------------*/

/* cairo-200 - arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 200;
  src: url('fonts/cairo-v9-arabic-200.eot'); /* IE9 Compat Modes */
  src: local('Cairo ExtraLight'), local('Cairo-ExtraLight'),
       url('fonts/cairo-v9-arabic-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/cairo-v9-arabic-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/cairo-v9-arabic-200.woff') format('woff'), /* Modern Browsers */
       url('fonts/cairo-v9-arabic-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/cairo-v9-arabic-200.svg#Cairo') format('svg'); /* Legacy iOS */
}
/* cairo-300 - arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/cairo-v9-arabic-300.eot'); /* IE9 Compat Modes */
  src: local('Cairo Light'), local('Cairo-Light'),
       url('fonts/cairo-v9-arabic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/cairo-v9-arabic-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/cairo-v9-arabic-300.woff') format('woff'), /* Modern Browsers */
       url('fonts/cairo-v9-arabic-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/cairo-v9-arabic-300.svg#Cairo') format('svg'); /* Legacy iOS */
}
/* cairo-regular - arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/cairo-v9-arabic-regular.eot'); /* IE9 Compat Modes */
  src: local('Cairo Regular'), local('Cairo-Regular'),
       url('fonts/cairo-v9-arabic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/cairo-v9-arabic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/cairo-v9-arabic-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/cairo-v9-arabic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/cairo-v9-arabic-regular.svg#Cairo') format('svg'); /* Legacy iOS */
}
/* cairo-600 - arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/cairo-v9-arabic-600.eot'); /* IE9 Compat Modes */
  src: local('Cairo SemiBold'), local('Cairo-SemiBold'),
       url('fonts/cairo-v9-arabic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/cairo-v9-arabic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/cairo-v9-arabic-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/cairo-v9-arabic-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/cairo-v9-arabic-600.svg#Cairo') format('svg'); /* Legacy iOS */
}
/* cairo-700 - arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/cairo-v9-arabic-700.eot'); /* IE9 Compat Modes */
  src: local('Cairo Bold'), local('Cairo-Bold'),
       url('fonts/cairo-v9-arabic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/cairo-v9-arabic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/cairo-v9-arabic-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/cairo-v9-arabic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/cairo-v9-arabic-700.svg#Cairo') format('svg'); /* Legacy iOS */
}
/* cairo-900 - arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/cairo-v9-arabic-900.eot'); /* IE9 Compat Modes */
  src: local('Cairo Black'), local('Cairo-Black'),
       url('fonts/cairo-v9-arabic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/cairo-v9-arabic-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/cairo-v9-arabic-900.woff') format('woff'), /* Modern Browsers */
       url('fonts/cairo-v9-arabic-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/cairo-v9-arabic-900.svg#Cairo') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon/icomoon.eot');
	src:url('fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon/icomoon.woff') format('woff'),
		url('fonts/icomoon/icomoon.ttf') format('truetype'),
		url('fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*-----------------------------------------------------------------------
01. END APP FONTS
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
  02. START GENERAL STYLES
-----------------------------------------------------------------------*/

/* scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #17cc8e;  
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body {
  font-family: 'Cairo', sans-serif;
  background-color: #fcfefd;
  color: #183a56;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-top: 63px;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
}

*:focus {
    outline: none
}

button:focus{
    outline: none
}

th {
    font-weight: normal;
}

#section1 {
    overflow-y: auto;
    overflow-x: auto;
    height: 100%;
}

#section2 {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

#section3 {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

#section4 {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

#section5 {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.img {
    max-width: 400px;
    height: auto;
}

/*-----------------------------------------------------------------------
02. END GENERAL STYLES
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
03. START PRELOADER
-----------------------------------------------------------------------*/

.se-pre-con {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9000;
    background: url(preloader.png) center no-repeat #fff;
}

/*-----------------------------------------------------------------------
03. END PRELOADER
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
04. START TABS
-----------------------------------------------------------------------*/

.nav {
    background-color: #183a56;
}

.nav-item .nav-link {
    padding: 20px;
}

.nav-link.active {
    color: #ffffff;
    background-color: #17cc8e;
    border: none;
    padding: 20px;
}

.tabs > section[aria-hidden="true"] {
    display: none;
}

/*-----------------------------------------------------------------------
04. END TABS
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
05. START FULL TABLE 
-----------------------------------------------------------------------*/

/* select&remove button style */
.icon-plus:before,
.icon-plus:after {
	content: "\e011";
}

.icon-remove:before {
	content: "\e00f";
}

.btn_1.icon-remove:before {
    font-size: 15px;
}

.btn_1:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn_1:before,
.icon-plus:after,
.btn_2:before {
    font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
    -webkit-font-smoothing: antialiased;
}

.btn_1:hover {
    color: #fff;
}

.btn_1 {
	border: none;
	cursor: pointer;
	padding: 7.5px 15px;
	display: inline-block;
	font-weight: 700;
    position: relative;
    background: #17cc8e;
	color: #fff;
	font-size: 12px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn_1:active {
	background: #17cc8e;
	top: 2px;
}

.btn_1 span {
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
}

.btn_1:before {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 40px;
	font-size: 100%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn_1:hover span {
	-webkit-transform: translateY(300%);
	-moz-transform: translateY(300%);
	-ms-transform: translateY(300%);
	transform: translateY(300%);
}

.btn_1:before {
	left: 0;
	top: -100%;
}

.btn_1:hover:before {
	top: 0;
}

/* table body style */
table.dataTable {
    color: #183a56;
}


/* Table white Spcee */
.dataTables_wrapper {
    margin: 30px 5px 30px 5px;
}

/* search box style */
#full_table_filter {
    margin-bottom: 20px;
}

.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #dee2e6;
    padding: 5px;
    background-color: #fff;
    margin-right: 5px;
}

.dataTables_wrapper .dataTables_filter input:focus {
    border: 1px solid #0db379;
    box-shadow: 0.1rem 0.2rem 0.3rem #0db37926;
}


table.dataTable tbody td {
    word-break: break-all;
    vertical-align: middle;
}
/*-----------------------------------------------------------------------
05. END FULL TABLE
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
06. START EMPTY TABLE
-----------------------------------------------------------------------*/

#section2 .row {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* For just Center ( Remove Button ) HADADAY */
#section2 .r_b_s {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

/*-----------------------------------------------------------------------
06. END EMPTY TABLE
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
07. START ZOOMING IMG
-----------------------------------------------------------------------*/

.zoomer {
    background: url("hexagon.png");
    border: 1px solid #dee2e6;
    height: 95%;
    overflow: hidden;
    margin: 10px 10px -50px 10px;
}

/* zoom icons */ 
.openseadragon-container img[alt="Zoom in"] {
    margin: 10px 7px 0 10px !important;
}

.openseadragon-container img[alt="Zoom out"],
.openseadragon-container img[alt="Go home"],
.openseadragon-container img[alt="Toggle full page"] {
    margin: 10px 7px 0 0 !important;
}

/* txt before result */ 
.not_yet {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.not_yet h1 {
    font-weight: 600;
    font-size: 30px;
}

/* Result lodaer */
#Tap3_loader_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Tap3_loader {
    height: 70px;
    width: 70px;
    margin: 0 auto 30px auto;
    border-radius: 50%;
    border: 5px solid #183a563f;
    border-top: 5px solid #0db379;
    -webkit-animation: spinner 1s infinite linear;
                animation: spinner 1s infinite linear;
}

@-webkit-keyframes spinner {
    to {
      -webkit-transform: rotateZ(360deg);
                transform: rotateZ(360deg);
    }
}
  
@keyframes spinner {
    to {
      -webkit-transform: rotateZ(360deg);
                transform: rotateZ(360deg);
    }
}

/* The Zooming img tab Two Buttons */
.btn_2 {
	border: none;
	cursor: pointer;
	display: inline-block;
	margin-left: 20px;
	font-weight: 700;
	position: relative;
    background: #17cc8e;
    color: #fff;
    padding: 20px 40px 20px 100px;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn_2:hover {
	background: #14c285;
}

.btn_2:active {
	background: #0db379;
	top: 1px;
}

.btn_2:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
    line-height: 3.1;
    font-size: 120%;
	width: 60px;
}

.btn_2:before {
	background: rgba(0,0,0,0.05);
}

.icon-star-2:before {
	content: "\e00c";
}

.icon-file:before {
    content: "\e004";
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.icon-cog:before {
    content: "\e010";
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

/*-----------------------------------------------------------------------
07. END ZOOMING IMG
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
08. START SETTING MODAL
-----------------------------------------------------------------------*/

.setting_modal_btn {
    position: fixed;
    top: 0px;
    right: 5px;
    z-index: 2111;
}

.setting_modal_btn button {
    background: transparent;
    color: #fff;
    border: none;
    width: 64px;
    height: 64px;
    font-size: 25px;
}

/* Modal Style */
.modal {
    z-index: 3050;
}

.modal-header h4 {
    color: #183a56;
    font-weight: 600;
}

.modal-header button {
    color: #183a56;
    font-weight: 600;
}

.modal-header .close {
    padding: 0;
    margin: 0;
    opacity: 0.9;
}

/* Settings */ 
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #17cc8e;
    background-image: none;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

/* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 300px;
    height: 40px;
    line-height: 3;
    background: #17cc8e;
    overflow: hidden;
}

select {
    flex: 1;
    line-height: 15px;
    padding: 0 10px;
    color: #fff;
    cursor: pointer;
    text-align: right;
}

.select::after {
    content: '\25BC';
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: rgba(0,0,0,0.05);
    color: #fff;
    cursor: pointer;
    pointer-events: none;
    line-height: 40px;
}

.b_1,
.paper_num {
    background: #17cc8e;
    border: 0;
    color: #fff;
    padding: 3px;
    width: 75px;
}

::placeholder { 
    color: #fff;
    opacity: 1;
}
  
:-ms-input-placeholder {
    color: #fff;
}

::-ms-input-placeholder {
    color: #fff;
}

.cheack_1 input {
    width: 18px;
    height: 18px;
}

.save_setting {
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-left: 20px;
    font-weight: 700;
    position: relative;
    background: #17cc8e;
    color: #fff;
    padding: 15px 30px;
}

/*-----------------------------------------------------------------------
08. END SETTING MODAL
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
09. START ALERTS
-----------------------------------------------------------------------*/

.swal-modal {
    background-color: #fff;
    border-radius: 0;
}

/*-----------------------------------------------------------------------
09. END ALERTS
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
  AHMED4CSS entered
-----------------------------------------------------------------------*/
/* table options stuff */
.settings input  { 
    margin-bottom: 10px;
}

input {
  text-align: center
}

/*-----------------------------------------------------------------------
  AHMED4CSS exits
-----------------------------------------------------------------------*/

/*-----------------------------------------------------------------------
    START HELPER CLASSES
-----------------------------------------------------------------------*/

.mb-30 {
    margin-bottom: 30px;
}

.pl_fix {
    padding-left: 5px;
}

.pr_fix {
    padding-right: 5px;
}

.pl_big_fix {
    padding-left: 310px;
}

.pl_fix_2 {
    padding-left: 278px;
}

.pl_fix_3 {
    padding-left: 73px;
}

.pl_fix_4 {
    padding-left: 61px;
}

/*-----------------------------------------------------------------------
    END HELPER CLASSES
-----------------------------------------------------------------------*/